.t_align_l{
    text-align: left;
}

.t_align_c{
    text-align: center;
}

.t_align_r{
    text-align: right;
}

.f_left{
    float: left;
}

.f_right{
    float: right;
}

.d_inline_b{
    display: inline-block;
}

.hide{ 
    display: none!important;  
}

.show{ 
    display: block; 
}

.invisible{ 
    visibility: hidden; 
}

.header{
    position: relative;
    top: 0;
    z-index: 10;
    width: 100%;
}
.header[class*="header_"]{
    background-color: #008040;
}
/* Sticky menu */
.header.scrolled {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
/* Pre Header */
.pre_header{
    text-align: center;
    padding: 20px;
    background: #383e44;
}

/* Header top part */
.h_top_part{
    background: #2C2C2C;
}
[class*="header_"] .h_top_part{
    border-bottom: 1px solid #008040;
}
.header_top{
    text-align: justify;
    padding: 6px 0;
    margin-bottom: -20px;
}

.header_top:after{
    content: '';
    width: 100%;
    display: inline-block;
}

.login_block > ul > li,
.login_block > ul > li > a{
    color: #212428;
    font-size: 13px;
}

.header[class*="header_"] .login_block > ul > li > a{
    color: #f2f2f2;
}

.header_top nav,
.header_top .login_block,
.mobile_menu nav ul li,
.header_top .head_weather_info{
    display: inline-block;
}

.h_bot_part_container{
    width: 100%;
    display: table;
}

.h_bot_part_container > div{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    float: none;
    padding: 0;
}

/* Header-4*/
.header_4 .header_top{
    margin-bottom: -26px;
}

.header_4 .h_bot_part .logo{
    padding-top: 0;
}

.header_4 .header_top{
    padding: 0;
}

.header_4 .header_top nav{
    padding-top: 6px;
}

/* Logo */

.h_bot_part{
    padding: 30px 0;
}

.h_bot_part .logo{
    padding-top: 15px;
}

/* Main Navigation */

.menu_wrap{
    z-index: 189;
    width: inherit;
    position: relative;
    background: #fff;

    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.menu_border{
    border-bottom: 2px solid #3e454c;
}

[class*="header_"] .menu_wrap{
    background: #2C2C2C;
    border-bottom: 5px solid #008040;
}

.menu_wrap .menu_border_wrap{
    margin-bottom: -2px;
}

.menu_wrap.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.spacer{
    display: none;
    height: 0;
    -webkit-transition: height .25s ease;
    transition: height .25s ease;
}

.menu_wrap2{
    background: #383e44;
}

.menu_wrap.type_3{
    padding: 9px 0;
    border-bottom: 1px solid #e6e5e7;
}

.main_menu{
    float: left;
}

.header.header_4 .main_menu > ul{
    margin-bottom: 0px;
}

.main_menu > ul:after{
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
}

.main_menu > ul > li{
    float: left;
    position: relative;
}

.main_menu.menu_var2 > ul > li:nth-child(1) > a{
    border-bottom: 2px solid #ff680d;
}

.main_menu.menu_var2 > ul > li:nth-child(2) > a{
    border-bottom: 2px solid #13b7ff;
}

.main_menu.menu_var2 > ul > li:nth-child(2):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(2):hover > a,
.main_menu.menu_var2 > ul > li.current_2 > a{
    background: #13b7ff;
}

.main_menu.menu_var2 > ul > li:nth-child(3) > a{
    border-bottom: 2px solid #854ec2;
}

.main_menu.menu_var2 > ul > li:nth-child(3):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(3):hover > a,
.main_menu.menu_var2 > ul > li.current_3 > a{
    background: #854ec2;
}

.main_menu.menu_var2 > ul > li:nth-child(4) > a{
    border-bottom: 2px solid #feb41c;
}

.main_menu.menu_var2 > ul > li:nth-child(4):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(4):hover > a,
.main_menu.menu_var2 > ul > li.current_4 > a{
    background: #feb41c;
}

.main_menu.menu_var2 > ul > li:nth-child(5) > a{
    border-bottom: 2px solid #ec2913;
}

.main_menu.menu_var2 > ul > li:nth-child(5):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(5):hover > a,
.main_menu.menu_var2 > ul > li.current_5 > a{
    background: #ec2913;
}

.main_menu.menu_var2 > ul > li:nth-child(6) > a{
    border-bottom: 2px solid #00ada7;
}

.main_menu.menu_var2 > ul > li:nth-child(6):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(6):hover > a,
.main_menu.menu_var2 > ul > li.current_6 > a{
    background: #00ada7;
}

.main_menu.menu_var2 > ul > li:nth-child(7) > a{
    border-bottom: 2px solid #197bbe;
}

.main_menu.menu_var2 > ul > li:nth-child(7):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(7):hover > a,
.main_menu.menu_var2 > ul > li.current_7 > a{
    background: #197bbe;
}

.main_menu.menu_var2 > ul > li:nth-child(8) > a{
    border-bottom: 2px solid #a13d63;
}

.main_menu.menu_var2 > ul > li:nth-child(8):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(8):hover > a,
.main_menu.menu_var2 > ul > li.current_8 > a{
    background: #a13d63;
}

.main_menu.menu_var2 > ul > li:nth-child(9) > a{
    border-bottom: 2px solid #96ca2d;
}

.main_menu.menu_var2 > ul > li:nth-child(9):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(9):hover > a,
.main_menu.menu_var2 > ul > li.current_9 > a{
    background: #96ca2d;
}

.main_menu.menu_var2 > ul > li:nth-child(10) > a{
    border-bottom: 2px solid #d1008b;
}

.main_menu.menu_var2 > ul > li:nth-child(10):hover > a,
.main_menu.menu_var3 > ul > li:nth-child(10):hover > a,
.main_menu.menu_var2 > ul > li.current_10 > a{
    background: #d1008b;
}

.main_menu > ul > li > a{
    display: block;
    padding: 14px 18px;
    font-weight: 500;
    color: #212428;
    text-transform: uppercase;
    font-size: 16px;
}

[class*="header_"] .main_menu > ul > li > a{
    color: #f2f2f2;
    margin-bottom: 0;
    border: none;
    padding: 15px 18px;
}

.header.header_3 .main_menu > ul > li > a{
    padding: 15px 13px;
}

.main_menu > ul > li:hover > a,
.main_menu > ul > li.current > a,
.main_menu > ul > li[class*="current_"] > a{
    color: #fff;
    font-size: bold;
}

.main_menu > ul > li.current > a{
    border-bottom: 2px solid #ff680d;
}

.header[class*="header_"]:not(.header_6) .main_menu > ul > li > a:hover,
.header[class*="header_"]:not(.header_6) .main_menu > ul > li.current > a{
    border: none;
}

.menu_wrap.type_2 .main_menu > li > a{
    padding: 20px 30px;
}

.main_menu.type_2 > ul > li > a{
    padding: 9px 10px 10px;
}

.main_menu.type_3 > ul > li > a{
    padding: 10px 20px;
}

.main_menu ul li .plus{
    display: none;
}

.sub_menu_wrap{
    position: absolute;
    left: 0;
    width: 535px;
    background: #3e454c;
    text-align: left;
    padding: 30px 20px;
    -webkit-transform: rotate3d(1,0,0,-90deg);
    transform: rotate3d(1,0,0,-90deg);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    opacity: 0;
    visibility: hidden;
    font-weight: 300;
    z-index: 999;

    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.menu_border_wrap .sub_menu_wrap{
    top: calc(100% - 2px);
}

.sub_menu_wrap ul li.current > a{
    padding-left: 15px;
    padding-right: 15px;
    background: #484e56;
}

.sub_menu_wrap.sub_menu_inner ul li.current > a,
.sub_menu_wrap.sub_menu_inner_2 ul li.current > a{
    background: #4f555d;
}

.sub_menu_wrap.type_2{
    min-width: 220px;
    width: auto;
    padding: 20px 0;
}

.sub_menu_wrap .sub_menu_wrap{
    opacity: 0;
    visibility: hidden; 
    left: 100%;
    top: 0;
    background: #484e56;

    -webkit-transform:rotate3d(0,1,0,90deg);
    -moz-transform:rotate3d(0,1,0,90deg);
    -o-transform:rotate3d(0,1,0,90deg);
    -ms-transform:rotate3d(0,1,0,90deg);
    transform:rotate3d(0,1,0,90deg);
}

.main_menu > ul > li:hover > .sub_menu_wrap:not(.sub_menu_inner),
.sub_menu_wrap ul li:hover .sub_menu_wrap.sub_menu_inner,
.sub_menu_inner ul li:hover .sub_menu_wrap.sub_menu_inner_2{
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

.sub_menu_wrap .sub_menu_wrap.sub_menu_inner_2{
    left: initial;
    right: 100%;

    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.sub_menu_wrap:before{
    right: auto;
    left: 16px;
}

.sub_menu_wrap > div{
    float: left;
}

.sub_menu,.main_menu > ul > li > a{
    -webkit-backface-visibility:hidden;
}

.sub_menu_wrap ul li:hover > a,
.select_list > li:hover{
    background:#484e56;
}

.sub_menu_wrap.sub_menu_inner ul li:hover > a,
.sub_menu_wrap.sub_menu_inner_2 ul li:hover > a{
    background: #4f555d;
}

.sub_menu_wrap > div > div{
    margin-bottom: 10px;
    text-transform: uppercase;
}

.sub_menu_wrap ul li:hover > a{
    padding-left: 15px;
    padding-right: 15px;
}

.sub_menu_wrap[class*="type_"] ul li{
    padding: 0 20px;
}

.sub_menu_wrap ul > li:last-child > a{
    border-bottom: none;
}

.sub_menu_wrap > div{
    margin-left: 30px;
    min-width: 145px;
}

.sub_menu_wrap > div:first-child{
    margin-left: 0;
}

.sub_menu_wrap ul li a{
    display: block;
    padding: 7.7px 0;
    white-space: pre;
    border-bottom: 1px solid #565c64;

    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.sub_menu_wrap ul li a,
.sub_menu_wrap > div > div{
    color: #f2f2f2;
}

.sub_menu_wrap > div > div{
    font-weight: normal;
}


#menu_button{
    padding: 15px;
    width: 100%;
    display: none;
    background: #383e44;
}

#menu_button{
    text-transform: uppercase;
    color: #fff;
    text-align: left;
}

#menu_button:before{
    content: "\f0c9";
    font-family: FontAwesome;
    font-size: 16px;
    color: #fff;
    margin-right: 5px;
}

#menu_button.active{
    background: #ff680d;
}

#menu_button.active > span,
.close_product:hover{
    color: #ff680d;
}

/* -----------------------------------

5. Lists and navigations

------------------------------------- */

.mobile_menu nav ul li{
    margin-left: 8px;
}

.mobile_menu nav ul li:before{
    content: ".";
    margin: 0px 8px 0 0;
    top: 0;
    font-size: 25px;
    color: #e6e6e7;
    line-height: 0px;
    position: relative;
    top: -3px;
}

.mobile_menu.var2 nav ul li:before{
    color: #212428;
}

.mobile_menu nav ul li:first-child{
    margin-left: 0;
}

.mobile_menu nav ul li:first-child:before{
    display: none;
}

.mobile_menu nav ul li a{
    color: #f2f2f2;
    font-size: 13px;
}

.mobile_menu.var2 nav ul li a{
    color: #212428;
}

.mobile_menu nav ul li a:hover{
    text-decoration: underline;
}

.dropdown_list{
    position: absolute;
    top: 100%;
    margin-top: 6px;
    right: 0;
    padding: 0;
    min-width: 110px;
    opacity: 0;
    visibility: hidden;
    z-index: 999;

    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.header.header_2 .dropdown_list{
    left: 0;
}

.dropdown_list:before{
    border-bottom-color: #34495e;
}

.dropdown_list > li a,
.sort_list > li a{
    display: block;
    padding: 7px 15px;
    background: #f2f2f2;
    color: #212428;
}

.dropdown_list > li img{
    margin-right:6px;
}

.dropdown_list > li a:hover,
.sort_list > li a:hover{
    background: #f9f9f9;
    color: #ff680d!important;
}

.sort_list{
    position:absolute;
    top:100%;
    margin-top:10px;
    right: 0;
    -webkit-transform-origin:0 0 0;
    -moz-transform-origin:0 0 0;
    -o-transform-origin:0 0 0;
    -ms-transform-origin:0 0 0;
    transform-origin:0 0 0;
    -webkit-transform:rotate3d(1,0,0,90deg);
    -moz-transform:rotate3d(1,0,0,90deg);
    -o-transform:rotate3d(1,0,0,90deg);
    -ms-transform:rotate3d(1,0,0,90deg);
    transform:rotate3d(1,0,0,90deg);
    visibility:hidden;
    z-index: 1;

    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.sort_list > li a{
    text-transform: uppercase;
    font-size: 13px;
}

.sort_list.opened{
    -webkit-animation:wicket .5s ease;
    -moz-animation:wicket .5s ease;
    -o-animation:wicket .5s ease;
    -ms-animation:wicket .5s ease;
    animation:wicket .5s ease;
    -webkit-transform:rotate3d(1,0,0,0deg);
    -moz-transform:rotate3d(1,0,0,0deg);
    -o-transform:rotate3d(1,0,0,0deg);
    -ms-transform:rotate3d(1,0,0,0deg);
    transform:rotate3d(1,0,0,0deg);
    visibility:visible;
}

.sort_list.closed{
    -webkit-animation:wicketout .5s ease;
    -moz-animation:wicketout .5s ease;
    -o-animation:wicketout .5s ease;
    -ms-animation:wicketout .5s ease;
    animation:wicketout .5s ease;
    visibility:visible;
}

/* -----------------------------------

  11. Icons

------------------------------------- */

i[class^="fa "]{
    line-height: inherit;
}

[class*="button_type_"]:not(.button_type_1) > i:not([class*="m_"]):only-of-type{
    margin-left:10px;
    margin-right:10px;
}

.widget_social_icons ul li a{
    display:block;
    width:39.5px;
    height:40px;
    color:#838a8f;
}

.widget_social_icons ul li a i[class^="fa "]{
    line-height: 40px;
}

.widget_social_icons ul .website:hover a{background:#ff680d;}
.widget_social_icons ul .facebook:hover a,.sw_button.facebook{background:#3b5998;}
.widget_social_icons ul .twitter:hover a,.sw_button.twitter,.tw_color{background:#2daae1;}
.widget_social_icons ul .google_plus:hover a{background:#f63e28;}
.widget_social_icons ul .rss:hover a{background:#ff7e00;}
.widget_social_icons ul .pinterest:hover a{background:#cb2027;}
.widget_social_icons ul .instagram:hover a{background:#835e42;}
.widget_social_icons ul .linkedin:hover a{background:#0073b2;}
.widget_social_icons ul .vimeo:hover a{background:#44b0de;}
.widget_social_icons ul .youtube:hover a{background:#ff3132;}
.widget_social_icons ul .flickr:hover a{background:#ff0084;}
.widget_social_icons ul .envelope:hover a,.sw_button.contact{background:#1abc9c;}