.star { 
    display: inline-block; 
    background: url("../img/rating/star.png") no-repeat; 
    width: 25px; 
    height: 25px 
}
.star_hover { 
    display: inline-block; 
    background: url("../img/rating/star.png") no-repeat; 
    background-position: 0 -25px; 
    width: 25px; 
    height: 25px 
}