/* ===== SLIDER START =====*/
.home-top-slider{
    height: 550px;
}
.home-top{
    height: 550px;
}

.color-overlay{
    background-color:#000;
    height:550px;
    opacity:0.4;
    position:absolute;
    width:100%;
}

.home-top .box-caption{
    margin-bottom:8%;
    max-width:550px;
    min-width:300px;
    background: #000;
    padding:10px;
    height: 320px;
    opacity: 0.8;
    margin-top: 40px;
    text-align:center;
}

.home-top .box-caption h1{
    color:#fff;
    text-align: center;
    z-index:999999;
}

.home-top .box-caption intro-button{
    margin-top: 20px;
}

.home-top .call-to-action-box {
    height: 200px;
    margin-top: 100px;
}

.home-top .call-to-action-box ul li {
    margin-bottom: 20px;
}

.home-top .call-to-action-box ul li a {
    color:#fff;
}
.home-btn-custom {
    width:220px;
}



/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1199px){

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (max-width: 992px){


}
@media (max-width:769px){

}

@media (min-width: 992px) {

}

@media (min-width: 769px) and (max-width: 992px) {


}

@media only screen and (max-width:480px){
    body{
        margin-top: -70px;
    }
    .home-top .call-to-action-box {
        height: 200px;
        margin-top: 0px;
        text-align: center;
    }
    .home-top .call-to-action-box ul li {
        margin-bottom:0px;
    }
}

@media only screen and (max-width:320px){

}